<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        /*max-width: 500px;*/
        /*padding-top: 100px;*/
      }
      .edited {
        background-color: yellow;
      }
      .deleted {
        background-color: red;
      }

    </style>
  </head>
  <body>
    <div class="container">
      <h1>Difference between {{before}} and {{after}}</h1>

      {% for row in ret %}
      <table class="table">
        <thead>
          <tr>
            {% for k,v in ret[0].before.iteritems() %}
              <th>{{k}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tr>
          {% for k,v in row.before.iteritems() %}
            <td {% if k in row.changes %} class="edited"{% endif%}>{{ v }}</td>
          {% endfor %}
        </tr>
        <tr>
          {% if row.after != None %}
            {% for k,v in row.after.iteritems() %}
              <td {% if k in row.changes %}class="edited"{% endif%}>{{ v }}</td>
            {% endfor %}
          {% else %}
            {% for k,v in ret[0].before.iteritems() %}
              <td class="deleted">-</td>
            {% endfor %}
          {% endif %}
        </tr>
      </table>
      {% endfor %}

    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
